<body>
<img src="assets/images/generatedtext (1).png" class="headText">
<hr>
<img src="assets\images\96e83f2c1ee6fed9d26e22751332c63e.jpg" alt="" class="skull">

<p>Hello...</p>
<p>We have one rule... We don't do children or politicians, but your Database 2 lecturer we'll do!!!</p>

<p>Need to rough someone up a little?</p>
<p>Need someone followed and threatened?</p>
<p>Need to torture someone?</p>
<p>Need to make someone disappear...?</p>

<p>Simply fill in the details and make sure to pay us, otherwise we'll come for you...</p>

<p>We don't know about anything, you don't know about anything...</p>

<select>
  <option *ngFor="let client of clients" [value]="client.clientID">
    {{ client.clientID }} {{ client.clientFName }} {{ client.clientLName }}
  </option>
</select>

<select>
  <option *ngFor="let job of jobTypes" [value]="job.value" (click)="showTable()">
    {{ job.viewValue }}
  </option>
</select>

<hr>

<p>Click on your preferred hitman below to schedule a job</p>

<!--table mat-table [dataSource]="hitmen">
  <ng-container matColumnDef="Alias">
    <th mat-header-cell *matHeaderCellDef>Alias</th>
    <td mat-cell *matCellDef="let hitmen" [routerLink]="['/appointment']">{{ hitmen.alias }}</td>
  </ng-container>

  <ng-container matColumnDef="Hits">
    <th mat-header-cell *matHeaderCellDef>Hits</th>
    <td mat-cell *matCellDef="let hitmen" [routerLink]="['/appointment']">{{ hitmen.hits }}</td>
  </ng-container>

  <ng-container matColumnDef="Speciality">
    <th mat-header-cell *matHeaderCellDef>Speciality</th>
    <td mat-cell *matCellDef="let hitmen" [routerLink]="['/appointment']">{{ hitmen.speciality }}</td>
  </ng-container>

  <ng-container matColumnDef="Cost">
    <th mat-header-cell *matHeaderCellDef>Cost</th>
    <td mat-cell *matCellDef="let hitmen" [routerLink]="['/appointment']">{{ hitmen.cost }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table-->

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="hitmen">
  <ng-container matColumnDef="Alias">
    <th mat-header-cell *matHeaderCellDef>Alias</th>
    <td mat-cell *matCellDef="let hitmen" [routerLink]="['/appointment']">{{ hitmen.alias }}</td>
  </ng-container>

  <ng-container matColumnDef="Hits">
    <th mat-header-cell *matHeaderCellDef>Hits</th>
    <td mat-cell *matCellDef="let hitmen" [routerLink]="['/appointment']">{{ hitmen.hits }}</td>
  </ng-container>

  <ng-container matColumnDef="Speciality">
    <th mat-header-cell *matHeaderCellDef>Speciality</th>
    <td mat-cell *matCellDef="let hitmen" [routerLink]="['/appointment']">{{ hitmen.speciality }}</td>
  </ng-container>

  <ng-container matColumnDef="Cost">
    <th mat-header-cell *matHeaderCellDef>Cost</th>
    <td mat-cell *matCellDef="let hitmen" [routerLink]="['/appointment']">{{ hitmen.cost }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<hr>
</body>
